<div class="page">
    <h4>Search Movies</h4>
    <mat-form-field class="full-width">
        <input
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="auto"
            placeholder="Search Movies"
        >
        <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
        >
            @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>

    <h4>Search Results:</h4>
    <mat-list role="list">
        <cdk-virtual-scroll-viewport
            itemSize="5"
            class="viewport"
        >
            <div
                *cdkVirtualFor="let movie of movies$ | async"
                class="movie-item"
            >
                <mat-list-item role="listitem">
                    <span class="item-display-label">{{movie.Title}} ({{movie.Year}})</span>
                </mat-list-item>
            </div>
        </cdk-virtual-scroll-viewport>
    </mat-list>
</div>
