.content {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px 10px #888888;
    border-radius: 10px;

    .content-body {
        .viewport {
            height: 300px;

            .movie-item {
                height: 100px;
                grid-template-columns: 75px auto;

                .movie-poster {
                    grid-column: 1;
                    grid-row: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    img {
                        width: 65px;
                    }
                }

                .movie-information {
                    grid-column: 2;
                    grid-row: 1;
                    padding-top: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .content-footer {
        margin-top: 20px;
        height: 30px;
        width: 100%;
        display: inline-flex;
        gap: 10px;
        align-items: center;
        margin-top: 20px;
        justify-content: end;
    }
}


.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.grid-container {
    display: grid;
}
